body {
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 150px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #footer01 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #bff5a1;
    text-align: center;
  }
  
.copyright {
  margin-top: 10px;
}
  