.form-content {
    margin-top: 130px;
    text-align: center;
}


.profile-photo {
    border-radius: 50%;
}

.message_fontcolor {
    text-align: center;
    color: red;
}

.button_field {
    text-align: center;
    padding-top: 10px;
}

.follow_count {
    list-style: none;
    overflow: hidden;
}

.follow_count ul {
    text-align: center;
    margin-left: 130px;
}

.follow_count li {
    width: 140px;
    float: left;
    padding-top: 40px;
}